# Kinde for secure, fast authentication - https://link.joshtriedcoding.com/kinde
KINDE_CLIENT_ID=60acf35433af43548e76c0f1fa1206a1
KINDE_CLIENT_SECRET=jyLciXcGz16GEqOZGEVXee2FQuU0WnV7lB4dL2Bf2wZ3xxyH3Vym
KINDE_ISSUER_URL=https://<KINDE-PROJECT-NAME>.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard

# Database for storing everything except PDF files - (Provider up to you, I like PlanetScale)
DATABASE_URL=postgres://yzun979:7aIwDdCseu9J@ep-odd-cell-00253183.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Uploadthing for storing PDF files - https://uploadthing.com/dashboard
UPLOADTHING_SECRET=sk_live_5b46f5664b75e2ce16494a567dccd483b8c357426cf85f4fe4cbb412f2ee3637
UPLOADTHING_APP_ID=i1em5sxoap

# OpenAI for answering PDF questions - https://platform.openai.com/
OPENAI_API_KEY=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

# Stripe for payment processing - https://stripe.com/
STRIPE_SECRET_KEY=sk_test_51NzkDiSBoo2AqZ9lDrL6ob9DkadNlvdz0e0N5HlNjoH0aFp6jIkeftTWJq1qEtpZzUhgaLD51AHIc51u1n7DupD900mvKYy6Sm
STRIPE_WEBHOOK_SECRET=whsec_0b95423a6a487ffcd05ab155dde26ea83ee33ec6377b0c61a8ed0ce93d4c8d05

# Pinecone for long-term vector storage - https://www.pinecone.io/
PINECONE_API_KEY=
